* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  min-height: 100px;
  background-color: aqua;
}

.main {
  min-height: calc(100hv - 200px);
  height: 100%;
  background-color: wheat;
  width: calc(100% - 500px);
  margin-left: 300px;
  float: left;
}

.left {
  min-height: calc(100vh - 200px);
  background-color: gray;
  width: 300px;
  margin-left: calc(-100% + 200px);
  float: left;
}

.right {
  min-height: calc(100vh - 200px);
  background-color: greenyellow;
  width: 200px;
  float: left;
}

.footer {
  min-height: 100px;
  background-color: royalblue;
}

.clearfix {
  clear: both;
}

.card-item {
  display: inline-block;
  padding: 5px;
  border: 10px solid red;
  width: 31.5%;
  margin-left: 1em;
}

.card-item1 {
  padding: 5px;
  border: 10px solid red;
  width: 32%;
  float: left;
  margin-left: 1em;
  margin-top: 1em;
}

.card-item-image {
  display: block;
  width: 100%;
}

.card-item-title {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card-item-price {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: red;
}